body {
  font-family: "Montserrat";
}
.container-fluid {
  padding: 0 10%;
}
.links a {
  transition: 0.5s;
  opacity: 0.8;
}
.links:hover a {
  opacity: 0.25;
}
.links a:hover {
  opacity: 1;
}
.t1 {
  background-color: #212529;
}

.lt {
  padding: 10% 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
}
